---
import { ClientRouter } from 'astro:transitions';
import { siteConfig } from '../config';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import LightboxDialog from '../components/util/Lightbox.astro';
import themeScript from '../utils/theme-script.ts?raw';
import MobileNav from '@/components/MobileNav.astro';
import Sidebar from '@/components/Sidebar.astro';

export interface Props {
  title: string;
  description?: string;
}

const { title = siteConfig.title, description = siteConfig.description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
<head>
  <BaseHead title={title} description={description} />
  <script is:inline set:html={themeScript} />
</head>
<body class="bg-page text-primary" style={`
  --primary-hue: ${siteConfig.themeColor.hue};
  --page-width: ${siteConfig.pageWidth}; 
  --sidebar-width: ${siteConfig.sidebarWidth}; 
`}>

  <ClientRouter />
  <div class="layout-container">
	<Sidebar />
    <MobileNav class="mobile-nav" />
    <main class="main-content">
      <div class="page-outer-container">
        <div class="content-pane">
          <slot />
        </div>
      </div>
    </main>
  </div>

  <Footer />
  <LightboxDialog />

  <style is:global>
    * {
      box-sizing: border-box;
    }

    .layout-container {
      display: flex;
      min-height: 100vh;
    }

    .main-content {
      flex: 1;
      background-color: var(--page-bg);
      min-height: 100vh;
    }


    .page-outer-container {
      max-width: var(--page-width); 
      margin: 0 auto; 
      width: 100%;
    }

   
    .content-pane {
      width: 100%;
      max-width: var(--page-width);
    }

    @media (min-width: 1024px) {
      .main-content {
        padding: 0rem;
      }
      .content-pane {
        padding: 2rem;
      }
    }

    @media (max-width: 1023px) {
      .main-content {
        margin-left: 0 !important; 
        padding: 1rem; 
        padding-top: 4rem; 
      }
      .content-pane {
        padding: 0; 
        max-width: 100%; 
      }
    }
  </style>
</body>
</html>